*{
    text-align: center;
    
    
}
 .body{
     width: 85%;
     height: 860px;
     margin-left: auto;
     margin-right: auto;
    background-color: grey;
    border: solid black;
 }

.header1{
    border: solid black;  
    width: 96%;
    height: 65px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: darkgrey;
}

/*identificxadores*/

#navMenu{
   
    border: solid black;
    width: 90%;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
}


.section1{
   
    float: left;
    border: solid black;
    width: 25%;
    height: 665px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: darkgrey;

}
/*clases*/
.header2, .footer1{

    border: solid black;
    background-color:silver;
    width: 80%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  
}

#navMenu2{
  
    border: solid black;
    width: 80%;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
}


.section2{
    float: right;
    border: solid black;
    width:68% ;
    height: 665px; 
    margin-top: 15px;
    margin-right: 15px;
    background-color: darkgrey;
    

}

.header3, .parrafo, .footer2{

    border: solid black;
    background-color: silver;
    width: 90%;
    height: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


.article1{
   
    border: solid black;
    width: 90%;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: darkgrey;

}


.article2{
  
    border: solid black;
    width: 90%;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;


}
/*identificxadores*/
#parr{
    border: solid black;
    width: 53%;
    height: 130px;
    float: left;
    margin-left: 20px;
    margin-right: 15px;
    overflow: auto;
    background-color: silver;
   
}

.aside1{
 
    border: solid black;
    width: 30%;
    height: 130px;
    float: right;
    margin-right:20px;
    margin-top: 15px;
    background-color: silver;
}
    
.footer3{
    border: solid black;
    background-color: silver;
    width: 48%;
    height: 55px;
    margin-left: 20px;
    margin-top: 12%;
    position:absolute ;
}


#foot{
    border: solid black;
    background-color: darkgrey;
    width: 82%;
    height: 55px;
    margin-top: 52%;
    margin-left: 10px; 
    position:absolute ;
  
}
